Dockerfile
docker-compose.yml
node_modules/
.next/
package-lock.json

.DS_Store
.git/
.gitignore
README.md

env.*
/devops/*
*.csv
/tmp/*

.prettierignore
.prettierrc
.idea

# Dolphin linux
.directory

# Design & documentation files
doc